.container
{
//background-color : #92A8D1;
}
h1{
    color: black;
    text-align: center;
}

button
{
        text-align: center;
}

.buttonHolder
{
    text-align: center;
}

h2{
    color: red;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#92A8D1;
    text-align: center;
}

.btnValidate
{
    margin-left: 20px;
}

.pagination
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
.container
{
    //background-color:#92A8D1;
}

.frm1
{
    background-color:#92A8D1;
}

body
{
    //background-color : #92A8D1;
}